docker {
    enabled = true
    runOptions= "--entrypoint=''"
}
process {
    containerEngine = 'docker'
    withName: "get_fastq" {
        cpus = 8
        maxForks = 3
        container="fasterq_dump"
    }
    withName: "trim_reads" {
        cpus = 1
        container="trim_galore_cutadapt:1.11"
    }
    withName: "build_index" {
        container="bowtie:0.12.7"
    }
    withName: "mapping" {
        cpus = 16
        container="bowtie:0.12.7"
    }
    withName: "feature_counts" {
        cpus = 16
        container="feature_counts:1.4.6-p3"
    }
    withName: create_control_table {
        cpus = 16
        container="deseq2_r:1.16.1"
    }
    withName: stat_analysis {
        cpus = 16
        container="deseq2_r:1.16.1"
    }
}
