docker {
    enabled = true
    runOptions= "--entrypoint=''"
}
process {
    containerEngine = 'docker'
    withName: trim_reads {
        cpus=1
        memory "1G"
        container="cutadapt:1.11"
    }
    withName: build_index {
        cpus=1
        memory "1G"
        container="bowtie:0.12.7"
    }
    withName: map {
        cpus=1
        memory "1G"
        container="bowtie:0.12.7"
    }
    }
    withName: feature_counts {
        cpus=1
        memory "1G"
        container="feature_counts"
    }
}
