docker {
    enabled = true
    runOptions= "--entrypoint=''"
}
process {
    containerEngine = 'docker'
    withName: "get_fastq" {
        cpus = 8
        maxForks = 3
        container="weltskaiser/fasterq_dump"
    }
    withName: "trim_reads" {
        cpus = 1
        container="weltskaiser/trim_galore_cutadapt-1.11"
    }
    withName: "build_index" {
        container="weltskaiser/bowtie-0.12.7"
    }
    withName: "mapping" {
        cpus = 16
        container="weltskaiser/bowtie-0.12.7"
    }
    withName: "feature_counts" {
        cpus = 16
        container="weltskaiser/feature_counts-1.4.6-p3"
    }
    withName: create_control_table {
        cpus = 16
        container="weltskaiser/deseq2_r-1.16.1"
    }
    withName: stat_analysis {
        cpus = 16
        container="weltskaiser/deseq2_r-1.16.1"
    }
}
